[Unit]
Description=mapbot service
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/docker ps
ExecStartPre=-/usr/bin/docker rm -f mapbot
ExecStart=/usr/bin/docker run \
  -e CLIENT_ID={{client_id}} \
  -e CLIENT_SECRET={{client_secret}} \
  -e VERIFICATION_TOKEN={{verification_token}} \
  -e DB_HOST={{db_host}} \
  -e DB_USER={{db_user}} \
  -e DB_PASS={{db_pass}} \
  -e DB_NAME={{db_name}} \
  -e FQDN={{host_name}} \
  -e PORT={{port}} \
  -p {{port}}:{{port}} \
  --name=mapbot \
  mapbot
ExecStop=/usr/bin/docker stop mapbot
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

